<app-sub-header 
  [compareWith]="compareWith" 
  [baseCurrency]="baseCurrency">
</app-sub-header>
<ion-content>
  <app-rate-compare-card 
    [title]="rangeTitle"
    [compareWith]="compareWith"
    [baseCurrency]="baseCurrency"
    [rateCompared]="rateCompared"
  ></app-rate-compare-card>
  <app-date-range
    [title]="rangeTitle"
    (startDateChange)="getStartDate($event)"
    (endDateChange)="getEndDate($event)"
  ></app-date-range>
  <app-graph 
    *ngIf="rate$ | async as rateList; else noRateRange" 
    [rates]="rateList">
  </app-graph>
  <ng-template #noRateRange>
    <app-message-block [message]="blockMessage"></app-message-block>
  </ng-template>
  <app-loading [hasLoading]="isLoading"></app-loading>
</ion-content>
